/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

div.banner {
    width: 100%;
    border: 0;
    height: 90px;
    background: url("../images/pattern-banner-app.jpg") right repeat;
    border-style:none;
    text-align: center;
    box-shadow: 0 0 10px rgb(0,0,0);
    -webkit-box-shadow: 0 0 10px rgb(0,0,0);
    -moz-box-shadow: 0 0 10px rgb(0,0,0);
    margin: auto;
}

div.banner div.left {
    padding-top: 20px;
    float: left;
}

div.banner div.right {
    padding-top: 20px;
    float: right;
}

/* big search text field and form for contacts */
div.banner form.search {
    height: 54px;
    width: 502px;
    background: url("../images/input-search.png") no-repeat;
}

div.banner form.search input[type="text"] {
    font-family: "OpenSansItalic";
    height: 54px;
    width: 410px;
    padding-left: 20px;
    padding-right: 10px;
    border: 0px;
    background-color: transparent;
}

/* 1 line centered big text */
div.banner div.title {
    line-height: 45px;
    font-family: "ColaborateThinRegular", Arial;
    font-size: 26pt;
    font-weight: lighter;
    color: #FFF;
    padding-top: 24px;
    text-align: center;
}

div.banner div.title strong {
    font-family: "ColaborateMediumRegular", Arial;
    font-size: 26pt;
    color: #FFF;
}

/* 2 lines info text */
div.banner div.info {
    padding-top: 30px;
    float: left;
}

div.banner div.info div.line1 {
    line-height: 45px;
    font-family: "ColaborateThinRegular";
    font-size: 22pt;
    color: #FFF;
}

div.banner div.info div.line1 strong {
    font-family: "ColaborateMediumRegular";
    font-size: 22pt;
    color: #FFF;
}

div.banner div.info div.line2 {
    font-family: "OpenSansLight";
    font-size: 11pt;
    color: #FFF;
}

div.banner div.info div.line2 strong {
    font-family: "OpenSansSemibold";
    font-size: 11pt;
    color: #FFF;
}
