/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/******************************************************************************/
/*                                   Panels                                   */
/******************************************************************************/

div.panel.welcome {
    min-height: 400px;
    padding-top: 70px;
}



/******************************************************************************/
/*                            Browse: Contacts List                           */
/******************************************************************************/

div.contactsList {
    margin: auto;
    margin-top: 30px;
}

div.toolbar {
    width: 220px;
    float: left;
}

div.toolbar div.addressBook {
    min-height: 75px;
    margin-bottom: 25px;
}

div.toolbar h1 {
    height: 30px;
    font-family: "OpenSansSemibold";
    font-size: 12pt;
    padding-left: 30px;
    padding-top: 3px;
    margin-bottom: 8px;
    border: none;
}

div.toolbar div.addressBook h1 {
    background: url('../images/ico-addressbook.png') no-repeat;
}

div.toolbar ul li {
    display: list-item;
    margin-bottom: 8px;
}

div.toolbar div.addressBook ul .unselected,
div.toolbar div.addressBook ul .unselected li {
    color: #ccc;
}

div.toolbar div.tags {
    min-height: 150px;
}

div.toolbar div.tags h1 {
    background: url('../images/ico-tags.png') no-repeat;
}

div.toolbar div.tools {
    margin-bottom: 25px;
}

div.toolbar div.tools h1 {
    background: url('../images/ico-addressbook.png') no-repeat;
}

div.contactsList div.contacts {
    width: 700px;
    padding-left: 40px;
    float: right;
}

div.contactsList div.contacts a {
    text-decoration: none;
}

div.contactsList div.contacts div.itemIcon {
    float: left;
    margin-top: 15px;
    margin-left: 36px;
    vertical-align: bottom;
}

div.contactsList div.contacts div.datos {
    float: left;
    margin-top: 15px;
    margin-left: 30px;
    width: 490px;
}

div.contactsList div.contacts div.detailsIcon {
    float: right;
    margin-top: 23px;
    margin-right: 30px;
}

div.contactsList div.contacts .browse_contactListItem:nth-child(odd) .browse_divContactListItem {
    height: 100px;
    background-color: #E0EEF9;
    border-top: dashed 1px #00ADDE;
    border-left: 5px solid #E0EEF9;
}
div.contactsList div.contacts .browse_contactListItem:nth-child(even) .browse_divContactListItem {
    height: 100px;
    background-color: white;
    border-top: dashed 1px #00ADDE;
    border-left: 5px solid white;
}

div.contactsList div.contacts div.datos div.nombre {
    font-family: "OpenSansSemibold";
    font-size: 14pt;
}

div.contactsList div.contacts div.datos div.profesion {
    font-family: "OpenSansItalic";
    font-size: 12pt;
}

div.contactsList div.contacts div.datos div.email {
    font-family: "OpenSansLight";
    font-size: 11pt;
}

div.contactSelected {
    border-left: 5px solid #E3242C !important;
}


/******************************************************************************/
/*                           Details: Contacts Info                           */
/******************************************************************************/

div.contactInfo {
    margin: auto;
    margin-top: 30px;
    min-height: 375px;
    border-top: dashed 1px #00ADDE;
    border-bottom: dashed 1px #00ADDE;
    background: url('../images/contacts-details-background.png') repeat-y;
    overflow: hidden;
}

div.contactInfo div.left {
    width: 640px;
    float: left;
    height: 100%;
    background-color: #E0EEF9;
}

div.contactInfo div.left div.itemIcon {
    margin-top: 20px;
    margin-left: 33px;
    float: left;
}

div.contactInfo div.left div.details {
    margin-left: 130px;
    margin-right: 30px;
    margin-top: 15px;
    height: 100%;
}

div.contactInfo div.left div.nombre {
    font-family: "OpenSansSemibold";
    font-size: 14pt;
}

div.contactInfo div.left div.profesion {
    font-family: "OpenSansLightItalic";
    font-size: 13pt;
    margin-bottom: 10px;
}

div.contactInfo div.left div.datos ul li {
    font-family: "OpenSansLight";
    font-size: 11pt;
    display: list-item;
    line-height: 22pt;
}

div.contactInfo div.left div.datos ul li span.black {
    font-family: "OpenSansSemibold";
}

div.contactInfo div.left div.comentarios {
    font-family: "OpenSansLightItalic";
    font-size: 11pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.contactInfo div.right {
    width: 290px;
    min-height: 345px;
    margin-left: 30px;
    margin-top: 30px;
    float: right;
}

div.contactInfo div.right div.tags {
    min-height: 180px;
    margin-bottom: 10px;
}

div.contactInfo div.right h1 {
    height: 30px;
    font-family: "OpenSansSemibold";
    font-size: 12pt;
    padding-left: 30px;
    padding-top: 3px;
    margin-bottom: 8px;
    border: none;
}

div.contactInfo div.right div.tags h1 {
    background: url('../images/ico-tags2.png') no-repeat;
}

div.contactInfo div.right div.tags ul.list li {
    display: list-item;
    height: 28px;
}

div.contactInfo div.right div.updateContact {
    margin-top: 15px;
    margin-bottom: 6px;
    border-top: solid 3px #00ADDE;
    padding-top: 20px;
}

div.contactInfo div.right div.deleteContact {
    margin-bottom: 10px;
}



/******************************************************************************/
/*                             Details: Comments                              */
/******************************************************************************/

div.comments {
    width: 100%;
    float: left;
    clear: both;
    margin-top: 25px;
}

div.comments div.contenedor {
    margin: auto;
}

div.comments div.contenedor div.commentInfo {
    width: 100%;
    clear: both;
}

div.comments div.contenedor div.commentInfo div.left {
    width: 78px;
    margin-left: 20px;
    margin-right: 33px;
    float: left;
    margin-bottom: 25px;
}

div.comments div.contenedor div.commentInfo div.left img {
    margin-top: 10px;
}

div.comments div.contenedor div.commentInfo div.right {
    width: 829px;
    float: right;
    margin-bottom: 25px;
}

div.comments div.contenedor div.commentInfo div.right div.titulo {
    font-family: "OpenSansSemibold";
    font-size: 12pt;
    line-height: 22pt;
}

div.comments div.contenedor div.commentInfo div.right div.titulo span.nombre {
    font-family: "OpenSansSemibold";
    color: #00AEDE;
}

div.comments div.contenedor div.commentInfo div.right div.titulo span.fecha {
    font-family: "OpenSansSemibold";
}

div.comments div.contenedor div.commentInfo div.right div.texto {
    font-family: "OpenSansLightItalic";
    font-size: 11pt;
}

div.email-list {}

div.email-list .emails {
    max-height: 400px;
    overflow-y: scroll;
}



/******************************************************************************/
/*                            Details: Comment Form                           */
/******************************************************************************/

div.commentInput {
    width: 100%;
    float: left;
    clear: both;
}

div.commentInput div.contenedor {
    margin: auto;
}

div.commentInput div.contenedor div.area {
    padding-bottom: 15px;
    background-color: #ECECEC;
    border-top: 1px dashed #00ADDE;
    border-bottom: 1px dashed #00ADDE;
}

div.commentInput div.contenedor div.area div.smiles {
    padding-left: 35px;
    padding-top: 18px;
}

div.commentInput div.contenedor div.area div.smiles ul li {
    display: inline;
}

div.commentInput div.contenedor div.area div.smiles ul li img {
    margin-right: 20px;
    padding-bottom: 6px;
    cursor: pointer;
}

div.commentInput div.contenedor div.area div.smiles ul li img.selected {
    border-bottom: solid 3px #00ADDE;
    padding-bottom: 3px;
}


div.commentInput div.contenedor div.area div.inputText {
    margin-left: 35px;
    margin-top: 20px;
}

div.commentInput div.contenedor div.area div.inputText textarea {
    width: 880px;
    height: 155px;
    border: solid 1px #6E6D71;
    padding: 5px;
}

div.commentInput div.contenedor div.area div.button {
    padding-left: 30px;
    margin-top: 22px;
}

/******************************************************************************/
/*                            keyboardShortcuts                               */
/******************************************************************************/

#fancybox-content h1 {
    color: #000000;
    border-bottom: 1px dashed #00ADDE;
    font-family: "QuicksandBook";
    font-size: 20pt;
    margin-bottom: 10px;
    text-align: left;
}

#fancybox-content p {
    margin-bottom: 10px;
    color: #000000;
}
#fancybox-content table .title{
    color: #004992;
    font-size: 13pt;
    font-weight: bold;
    padding-top: 10px;
}

#fancybox-content table .keys {
    color: #000000;
    text-align: right;
}

#fancybox-content table .keys span {
    color: #004992;
    font-size: 10pt;
    font-weight: bold;
}

#fancybox-content table .keys .separator {
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
}

#fancybox-content table .description {
    color: #000000;
    text-align: left;
    padding-left: 5px;
}