/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

div.referrals {
    margin: 30px auto;
}

.referrals .plan {
    margin: auto;
    width: 520px;
    clear: both;
}

.referrals .plan .info {
    float: left;
    height: 89px;
    width: 469px;
    background: url("../images/referrals-plan-arrow-regular.png") no-repeat;
    padding: 25px 10px 0px;
    border-radius: 4px;
    text-align: center;
}

.referrals .plan .info.active {
    background-image: url("../images/referrals-plan-arrow-active.png");
}

.referrals .plan .info h1 {
    border-bottom: none;
    margin-bottom: 4px;
    text-align: center;
    font-size: 22px;
}

.referrals .plan .info strong {
    font-family: "OpenSansSemibold";
}


.referrals .plan .counter {
    font-family: "OpenSansSemibold";
    margin: 0px 0px 0px -50px;
    float: left;
    font-size: 10px;
    text-align: center;
    background-color: #E3242C;
    color: white;
    padding: 7px 3px 0px;
    border-radius: 45px;
    height: 44px;
    width: 44px;
    border: solid 2px white;
    box-shadow: 0px 1px 8px #555555;
}